language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=examples/MovingAverage

install:
    - pip install -U platformio
    - platformio update

script:
    - platformio ci --lib="." --board=uno --board=zero --board=esp01_1m

notifications:
  email:
    on_success: change
    on_failure: change
